@model Avocado.WEB.Models.ViewModels.HomeIndexVM
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<ul class="py-3">
				@foreach (var item in Model.Categories)
				{
					<li class="list-group-horizontal btn btn-outline-dark">@item.Name</li>
					if (Model.Products.Where(x => x.CategoryId == item.Id) != null)
					{
						foreach (var items in Model.Products.Where(x => x.CategoryId == item.Id))
						{
							<div class="card border-success mb-3">
								<div class="card-header text-danger">@items.Name</div>
								<div class="card-body text-danger btn btn-outline-light bg-transparent">
									
										<img src="~/images/@items.ImgUri" class="img-fluid rounded-start" alt="...">
									
								</div>
								<div class="card-footer">
									<div>
										<span>$@items.Price</span>									
										<a asp-action="Details" asp-route-id="@items.Id" class="btn btn-outline-success offset-8">Details</a>
									</div>
									
								</div>
							</div>
						}
					}
				}
			</ul>
		</div>
		<div class="col-md-2"></div>
	</div>

</div>
