@if (TempData["success"] != null && TempData["success"].ToString() != "")
{
	<div class="alert alert-dismissible alert-success">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Success!</strong> @TempData["success"]
	</div>
}
@if (TempData["error"] != null && TempData["error"].ToString() != "")
{
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Error!</strong> @TempData["error"]
	</div>
}
