@model Avocado.WEB.Models.Category
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="row">
				<form method="post">
					<label>Category name:</label>
					
				</form>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
